{% extends 'detection/main.html' %}

{% block content %}

{% load event_tags %}
{% load static %}

<div class="limiter">
<div class="container-login100 p-b-0 p-t-0">
	<div class="wrap-login100 p-l-30 p-r-30 p-t-20 p-b-20">
		<div class="Search">
			<form method="get">
				<div class="row">

					<div class="col">
						<!-- Input de Ubicación -->
						<input class="form-control" type="text"  placeholder="Ubicación"
						name="{{ myFilter.form.location.name }}"
						id="{{ myFilter.form.location.id_for_label }}"
						{% if myFilter.form.location.value != None %}value="{{ myFilter.form.location.value|stringformat:'s' }}"{% endif %}
						maxlength="{{ myFilter.form.location.field.max_length }}"
						{% if myFilter.form.location.field.required %}required{% endif %}>
					</div>

					<div class="col">
						<!-- Input de Alerta enviada a -->
						<input class="form-control" type="text"  placeholder="Alerta enviada a"
						name="{{ myFilter.form.alert_receiver.name }}"
						id="{{ myFilter.form.alert_receiver.id_for_label }}"
						{% if myFilter.form.alert_receiver.value != None %}value="{{ myFilter.form.alert_receiver.value|stringformat:'s' }}"{% endif %}
						maxlength="{{ myFilter.form.alert_receiver.field.max_length }}"
						{% if myFilter.form.alert_receiver.field.required %}required{% endif %}>
					</div>

					<div class="col-2">
						<!-- Input de Fecha de Inicio -->
						<input class="form-control" type="text" id="date" placeholder="Fecha de Inicio" autocomplete="off"
						name="{{ myFilter.form.start_date.name }}"
						id="{{ myFilter.form.start_date.id_for_label }}"
						{% if myFilter.form.start_date.value != None %}value="{{ myFilter.form.start_date.value|stringformat:'s' }}"{% endif %}
						maxlength="{{ myFilter.form.start_date.field.max_length }}"
						{% if myFilter.form.start_date.field.required %}required{% endif %}>
					</div>

					<div class="col-2">
						<!-- Input de Fecha de Fin -->
						<input class="form-control" type="text" id="date" placeholder="Fecha de Fin" autocomplete="off"
						name="{{ myFilter.form.end_date.name }}"
						id="{{ myFilter.form.end_date.id_for_label }}"
						{% if myFilter.form.end_date.value != None %}value="{{ myFilter.form.end_date.value|stringformat:'s' }}"{% endif %}
						maxlength="{{ myFilter.form.end_date.field.max_length }}"
						{% if myFilter.form.end_date.field.required %}required{% endif %}>
					</div>

					<div class="col-1">
						<button class="btn btn-primary" type="submit">Buscar</button>
					</div>
				  </div>
			</form>
		</div>
		
</div>
</div>
</div>

   <script>
	jQuery(document).ready(function($){
	  var date_input=$('input[id="date"]');
	  var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
	  var options={
		format: 'yyyy-mm-dd',
		container: container,
		todayHighlight: true,
		autoclose: true,
	  };
	  date_input.datepicker(options);
	});
	</script>
	
<div class="limiter">
<div class="container-login100 p-t-0">
<div class="wrap-login100 p-l-40 p-r-40 p-t-25 p-b-15">
		
			<table class="table table-image">
				<tr>
					<th scope="col" class="top-row">Detección</th>
					<th scope="col" class="top-row">Ubicación</th>
					<th scope="col" class="top-row">Alerta enviada a</th>
					<th scope="col" class="top-row">Hora</th>
					<th scope="col" class="top-row">Alerta</th>
				</tr>

				{% for alert in uploadAlert %}

				<tr>
					<td class="w-25"><img style="max-width: 250px; max-height: 150x; border-radius: 2.5%;" 
						class="img-fluid" src='https://djangoapp-bucket.s3.us-east-2.amazonaws.com/media/{{alert.image}}'/></td>
					<td class="xd">{{alert.location}}</td>
					<td class="xd">{{alert.alert_receiver}}</td>
					<td class="xd">{{alert.date_created|date:"Y-m-d H:i:s"}}</td>
					
					{% with uuid=alert.image|split:"." %}

					<td><a class="btn btn-sm btn-info" href="/alert/{{uuid.0}}">Ver</a></td>

					{% endwith %}
					
				</tr>
				{% endfor %}

			</table>
		
</div>
</div>
</div>

{% endblock %}
