{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/barra.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/u.css' %}">

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <span class="navbar-brand" style="margin-left: 45px;">Sistema de Detección de Armas</span>

    <ul class="form-inline my-2 my-lg-0">
      <span class="hello-msg">¡Hola, {{request.user}}!</span>
      <span ><a class="hello-msg" href="{% url 'logout' %}">Cerrar sesión</a></span>
    </ul>
</nav>
