{% load static %}

<!DOCTYPE html>
<html>
    
<head>
	<title>Registro</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static '/css/registro.css' %}">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" method="POST" action="">
					{% csrf_token %}
					<span class="login100-form-title p-b-33">
						Registrar Cuenta
					</span>

					<div class="wrap-input100 validate-input" data-validate="Se requiere un correo electrónico válido: ex@abc.xyz">
						<input class="input100" type="text" name="username" placeholder="Usuario">
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Se requiere una contraseña">
						<input class="input100" type="email" name="email" placeholder="Correo Electrónico">
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Se requiere una contraseña">
						<input class="input100" type="password" name="password1" placeholder="Contraseña">
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Se requiere una contraseña">
						<input class="input100" type="password" name="password2" placeholder="Confirmar Contraseña">
					</div>

					<div class="container-login100-form-btn m-t-20 m-b-15">
						<button class="login100-form-btn" type="submit" value="Register">
							Crear Cuenta
						</button>
					</div>

					{% if form.errors %}
						{% for field in form %}				
							{% for error in field.errors %}
							<div class="error">
								<p class="field_label">{{field.label}}:</p>
								<p>{{ error|escape }}</p>
							</div>
							{% endfor %}
						{% endfor %}
					{% endif %}

					<div class="text-center p-t-15 p-b-4">
						<span class="txt1">
							¿Ya tienes una cuenta?
						</span>

						<a href="{% url 'login' %}" class="txt2 hov1">
							Iniciar sesión
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>

</html>
